

.list {
    list-style: none;

    &__navLink {
        font-size: 0.9rem;
        font-weight: 600;
        color: #FFF;
        
        text-decoration: none;
        text-transform: uppercase;
    }
}