

.main {
    width: 100%;
    height: auto;

    background-color: #ECE8E1;
    overflow: auto;

    &__section {
        width: 100%;
        max-width: 1280px;
        height: auto;
        margin: 80px auto;

        display: flex;
        flex-direction: column;
        row-gap: 40px;

        padding: 0 10px;

        @media screen and (max-width: 1024px) {
            margin: 35px auto;
        }
    }

    &__select {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: flex-end;
    }

    &__title {
        font-size: 105px;

        @media screen and (max-width: 1024px) {
            font-size: 75px;
        }

        @media screen and (max-width: 540px) {
            font-size: 35px;
        }
    }
}