.nav {
    width: auto;
    height: 645px;

    z-index: 5;

    &__agents {
        width: 100%;
        height: auto;

       
    }

    &__agent {
        width: 100%;
        max-height: 645px;

        @media screen and (max-width: 1024px) {
            max-height: 550px;
        }

        @media screen and (max-width: 540px) {
            max-height: 290px;
        }
    }
}