

.nav {
    width: 100%;
    height: auto;

    &__container {
        width: 100%;
        height: auto;
        margin: auto;

        display: flex;
        flex-wrap: wrap;

        border-top: 1px solid #0000002d;
        border-left: 1px solid #0000002d;
    }
}