

.item {
    &__container {
        width: 100%;
        max-width: 1280px;
        height: auto;

        margin: 100px auto;
        padding: 0 10px;
    }

    &__description {
        width: 650px;
        height: auto;

        display: flex;
        flex-direction: column;

        row-gap: 35px;
    }
}