

.header {
    width: 100%;
    height: auto;

    background-color: #111;
    display: flex;

    padding: 12px 0;
    z-index: 999;

    @media screen and (max-width: 1024px) {
        position: relative;
    }

    @media screen and (max-width: 540px) {
        position: relative;
    }

    &__container {
        width: 100%;
        max-width: 90%;
        height: auto;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        column-gap: 50px;
        margin: auto;

        @media screen and (max-width: 1024px) {
        justify-content: space-between;
    }
    }
    
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;

        column-gap: 20px;
    }

    &__barIcon, &__closeIcon {
        width: 40px;
        height: 40px;

        display: none;
        cursor: pointer;
        color: #FFF;

        @media screen and (max-width: 1024px) {
            display: block;
        }
        
    }

    &__menu {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1024px) {
            width: 250px;
            height: 100vh;
            position: fixed;
            top: 60px;
            right: -250px;

            row-gap: 60px;
            padding: 30px 0;
            
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: center;

            background-color: #111;
            transition: all ease-in-out 250ms;
        }
    }

    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;

        column-gap: 15px;
    }

    &__img {
        width: 50px;
        height: 50px;

        border-radius: 50px;
    }

    &__username {
        display: flex;
        justify-content: center;
        align-items: center;

        & > span {
            font-size: 0.9rem;
            font-weight: 600;
            color: #FFF;
            text-transform: uppercase;
        }
    }
}
.slash {
    width: 2px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.active {
    right: 0px;
}