

.header {
    width: 100%;
    height: auto;

    background-color: #111;
    display: flex;

    padding: 12px 0;
    z-index: 999;

    @media screen and (max-width: 1024px) {
        position: relative;
    }

    @media screen and (max-width: 540px) {
        position: relative;
    }

    &__container {
        width: 100%;
        max-width: 90%;
        height: auto;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        column-gap: 50px;
        margin: auto;
    }
    
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;

        column-gap: 20px;
    }

    &__menu {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1024px) {
            position: absolute;
            top: 60px;
            left: 0;
            
            flex-direction: column-reverse;
            row-gap: 50px;
            padding: 50px 0;

            background-color: #111;
            display: none;
        }

        @media screen and (max-width: 540px) {
            position: absolute;
            top: 60px;
            left: 0;
            
            flex-direction: column-reverse;
            row-gap: 50px;
            padding: 50px 0;

            background-color: #111;
            display: none;
        }
    }

    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;

        column-gap: 15px;
    }

    &__img {
        width: 50px;
        height: 50px;

        border-radius: 50px;
    }

    &__username {
        display: flex;
        justify-content: center;
        align-items: center;

        & > span {
            font-size: 0.9rem;
            font-weight: 600;
            color: #FFF;
            text-transform: uppercase;
        }
    }
}
.slash {
    width: 2px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}