

.main {
    width: 100%;
    height: auto;

    background-color: #ECE8E1;
    overflow: auto;
}
.about {
    width: 100%;
    height: auto;

    &__img {
        width: 100%;
        max-height: 600px;

        object-fit: cover;
        object-position: center -50px;

        @media screen and (max-width: 1024px) {
            object-position: center -20px;
        }

        @media screen and (max-width: 540px) {
            object-position: center -10px;
        }
    }

    &__section { 
        width: 100%;
        max-width: 1280px;
        height: auto;

        margin: 70px auto;
        padding: 0 10px;

        @media screen and (max-width: 1024px) {
            margin: 30px auto;
        }

        @media screen and (max-width: 540px) {
            margin: 30px auto;
        }

        &__title {
            font-size: 105px;

            @media screen and (max-width: 1024px) {
                font-size: 75px;
            }

            @media screen and (max-width: 540px) {
                font-size: 35px;
            }
        }
    }

    &__article {
        margin: 2rem calc(20% + 0.75rem) 0;

        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @media screen and (max-width: 1024px) {
            margin: 20px 30px;
        }

        @media screen and (max-width: 540px) {
            margin: 20px 30px;
        }

        &__text {
            font-size: 16px;

            @media screen and (max-width: 540px) {
                font-size: 12px;
            }
        }
    }
}