

.footer {
    width: 100%;
    height: auto;

    background-color: #111;

    text-align: center;

    &__texts {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        padding: 25px;

        background-color: #292929;

        @media screen and (max-width:1125px) {
            flex-direction: column;
            row-gap: 20px;
        }

        & > p {
            font-size: 16px;
            font-weight: 600;
            color: #FFF;
            text-transform: uppercase;
            cursor: pointer;

            @media screen and (max-width:1125px) {
                font-size: 12px;
            }
        }
    }

    &__social {
        width: 100%;
        height: auto;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        row-gap: 30px;
        padding: 25px;

        text-align: center;
    }

    &__icons {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        margin-bottom: 15px;

        & > a {
            display: flex;
            background-color: #292929;
            
            padding: 10px;
            border-radius: 50%;
        }

        &__linkedin, &__github, &__instagram {
          width: 20px;
          height: 20px;
          color: #FFF;

          transition: color ease-in-out 0.125s;
        }
        &__linkedin:hover, &__github:hover, &__instagram:hover {
            color: #FF4655;
          }
    }

    &__logos {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: baseline;

        column-gap: 20px;

        &__riot {
            width: 99px;
            height: 32px;
        }
    }

    &__politics {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;

        @media screen and (max-width:1125px) {
            flex-direction: column;
            row-gap: 20px;
        }

        & > p {
            font-size: 16px;
            font-weight: 600;
            color: #FFF;
            text-transform: uppercase;
            cursor: pointer;

            @media screen and (max-width:1125px) {
                font-size: 12px
            }
        }
    }

    &__developed {
        width: 100%;
        height: auto;

        & > span {
            font-size: 0.8rem;
            font-weight: 500;
            color: #FFF;
        }
        & > span > strong {
            font-size: 0.9rem;
            font-weight: 700;
            color: #FF4655;
            text-transform: uppercase;
        }
    }

    
}