.list {
    list-style: none;
}
.agent {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    column-gap: 20px;

    &__text {
        font-size: 15px;
        font-weight: 600;
    }
    &__title {
        font-size: 95px;
    }
}